<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex flex-column gap-1 mb-3">
      <p class="card-text mb-0"><span class="fw-medium">Title:</span> {{ CurrTask!.tasktitle }}</p>
      <p class="card-text mb-0">
        <span class="fw-medium">Priority:</span> {{ CurrTask!.taskpriority }}
      </p>
      <p class="card-text mb-0">
        <span class="fw-medium">Category:</span> {{ CurrTask!.taskcategory }}
      </p>
      <p class="card-text mb-0">
        <span class="fw-medium">Due Date:</span> {{ CurrTask!.taskduedate }}
      </p>
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex gap-2">
        <button class="btn btn-sm btn-danger" (click)="DeleteTask()">Delete</button>
        <button class="btn btn-sm btn-primary" (click)="SendUpdate()">Edit</button>
      </div>

      <div class="form-check mb-0">
        <input
          class="form-check-input"
          id="chkdone"
          type="checkbox"
          [checked]="CurrTask!.taskdone"
          (click)="TaskDoneChanged()"
        />
        <!-- Runtime Error when i Tried to use [value] instead of checked -->
        <label class="form-check-label" for="chkdone">Done</label>
      </div>
    </div>
  </div>
</div>
