<div class="container-sm border border-dark rounded shadow mb-3">
  <!-- filter buttons -->
  <div class="row">
    <div class="my-3">
      <button class="btn btn-outline-primary mx-1" (click)="Selection = 'All'">All Tasks</button>
      <button class="btn btn-outline-success mx-1" (click)="Selection = 'Done'">Done</button>
      <button class="btn btn-outline-warning mx-1" (click)="Selection = 'Pending'">Pending</button>
    </div>

    <div class="text-center">
      <label class="text-primary border border-primary border-3 px-3 py-1 mb-3 rounded">{{
        Selection
      }}</label>
    </div>
    @if (Selection == 'All') {
      <app-all-tasks
        [TaskArr]="TaskArr"
        (DeleteEvent)="DeleteTask($event)"
        (DoneChangedEvent)="DoneChanged($event)"
        (SendUpdateEvent)="StartUpdate($event)"
        (PullUpdateEvent)="FinishUpdate()"
      ></app-all-tasks>
    } @else if (Selection == 'Done') {
      <app-done-tasks
        [TaskArr]="TaskArr.filter((elem) => elem.taskdone == true)"
        (DeleteEvent)="DeleteTask($event)"
        (DoneChangedEvent)="DoneChanged($event)"
        (SendUpdateEvent)="StartUpdate($event)"
        (PullUpdateEvent)="FinishUpdate()"
      ></app-done-tasks>
    } @else if (Selection == 'Pending') {
      <app-pending-tasks
        [TaskArr]="TaskArr.filter((elem) => elem.taskdone == false)"
        (DeleteEvent)="DeleteTask($event)"
        (DoneChangedEvent)="DoneChanged($event)"
        (SendUpdateEvent)="StartUpdate($event)"
        (PullUpdateEvent)="FinishUpdate()"
      ></app-pending-tasks>
    }
  </div>
</div>
